body{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

.navbar-default{
  font-family: 'Montserrat', serif;
  font-family: 36px;
  background-color: #FFFFFF;
  height: 60px;
  margin-bottom: 0;  
}

.navbar-header .navbar-toggle{
  margin-top: 12px;
}

.navbar-brand{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 0px;
  color: #111;
  height: 60px;
}
