body{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

.navbar-default{
  font-family: 'Montserrat', serif;
  background-color: #FFFFFF;
  height: 60px;
  margin-bottom: 0;  
}

.navbar-header .navbar-brand{
  font-size: 36px;
  font-weight: 500;
  color: #111;
  height: 60px;
  padding: 30px 10px 0px 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}
