body{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

.navbar-default{
  background-color: #F8F8F8;
  border-color: #E7E7E7;
  
}

.navbar-default .navbar-brand{
  font-size: 36px;
  font-weight: 500;
  color: #111;
  height: 60px;
  padding: 30px 10px 0px 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

.navbar-default .navbar-nav{
  font-family: 'Montserrat', serif;
  font-size: 20px;
}
