body{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

.navbar-default{
  font-family: 'Montserrat', serif;
  background-color: #FFF;
  height: 60px;
  margin-bottom: 0;  
}

.navbar-header .navbar-toggle{
  margin-top: 12px;
}
